<%
var topPics = temp.rollPicture(271);
%>
<%
var headContent = {
%>
<% include("/template/sfy/includes/header.html"){} %>

<script type="text/javascript">
	$(function(){
		$('.carousel').carousel({
			interval: 2000
		});
		// js加载避免优先级问题
		$('.more').css('float','right').css('font-size','12px').css('color','green');
	});




</script>
<script type="text/javascript" src="${BASE_PATH }template/sfy/article/show_article.js"></script>
<%
};
var bodyContent = {
%>
<%  include("/template/sfy/includes/header_menu.html"){} %>
<input type="hidden" name="article_id" value="${item.id}">
<input type="hidden" name="create_id" value="${item.create_id}">
<input type="hidden" name="count_comment" value="${item.count_comment!'0'}">
<%if (topPics.~size>0){%>
<!--轮播图-->
<div class="row">
    <!-- 图片 -->
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body" style="padding: 0px;">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% for(item in topPics){ %>
                        <li data-target="#carousel-example-generic" data-slide-to="${itemLP.index-1}"
                            ${itemLP.index==1?"class=\"active\"":""}></li>
                        <%}%>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% for(item in topPics){ %>
                        <div style="height: 450px;" class="item ${itemLP.index==1?'active':''}">
                            <% if(strutil.isNotEmpty(item.url)) { %>
                            <a href="${item.url}" target="_blank">
                                <% } %>
                                <img src="${flyfox.getImage(item)}" alt="${item.title}" style="width:100%">
                                <% if(strutil.isNotEmpty(item.url)) { %>
                            </a>
                            <% } %>
                            <div class="carousel-caption">
                                <h4></h4>
                                <p>${item.title}</p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">上一页</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">下一页</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
<!--轮播图-->
<%}%>

<!--页面输出-->
<div class="container" style="width:1000px;margin-top:5px">
    <div class="row">
        <div class="col-lg-12">
            <article class="art-container">
                <header class="text-center">
                    <h3 class="art-title">${item.title}</h3>
                    <section class="art-title-info">
                        <div class="art-left">
                            <!-- 百度分享 -->
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more"
                                                             data-cmd="more">分享到：</a><a href="#"
                                                                                        class="bds_qzone"
                                                                                        data-cmd="qzone"
                                                                                        title="分享到QQ空间"></a><a
                                    href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
                                                                                                       class="bds_tqq"
                                                                                                       data-cmd="tqq"
                                                                                                       title="分享到腾讯微博"></a><a
                                    href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                            <script>
                                        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

                                    </script>
                        </div>
                        <div class="art-right">
                            <!--<span style="vertical-align: middle;" class="art-author" title="${item.publish_user!''}">作者：${flyfox.suojin(item.publish_user!'',10)}</span> •-->
                            <time style="vertical-align: middle;" class="art-date"
                                  datetime="${item.publish_time!''}" title="${item.publish_time!''}">
                                ${item.publish_time!''}
                            </time>
                            <span style="vertical-align: middle;margin-left: 2px;">浏览（${item.count_view!'0'}）</span>
                            <% if(item.is_comment==1){ %>
                            <a style="vertical-align: middle;margin-left: 2px;"
                               href="${BASE_PATH }front/article/${item.id}.html#article_comment"><span
                                    id="count_comment_show">评论（${item.count_comment!'0'}）</span></a>
                            <% } %>
                            <%
                            var sessionUserId = isEmpty(session.session_user) ? 0: session.session_user.userid;
                            var isLike = (sessionUserId==0? false: temp.isLike(sessionUserId,item.id));
                            %>
                            <span style="vertical-align: middle;cursor: pointer;" id="articlelike_${item.id}"
                                  onclick="articlelike.click(${item.id});"
                                  class="glyphicon glyphicon-heart${isLike?'':'-empty'}"
                                  title="${isLike?'取消':''}喜欢" aria-hidden="true"></span>
                        </div>
                    </section>

                </header>

                <section class="art-content" style="word-break:break-all;word-wrap:break-word;">
                    <% if(strutil.isNotEmpty(item.image_net_url) ) { %>
                    <div class="thumbnail center-block" style="width:320px;">
                        <img src="${item.image_net_url }" alt="${item.title}" class="img-rounded"
                             data-holder-rendered="true" style="height: 200px; width: 320px; display: block;">
                    </div>
                    <% } else if(strutil.isNotEmpty(item.image_url) ) { %>
                    <div class="thumbnail center-block" style="width:320px;">
                        <img src="${ctx}${item.image_url }" alt="${item.title}" class="img-rounded"
                             data-holder-rendered="true" style="height: 200px; width: 320px; display: block;">
                    </div>
                    <% } %>
                    ${item.content!'' }
                    <% if(strutil.isNotEmpty(item.file_url)) { %>
                    <div>
                        <span style="color: gray;">附件:</span>
                        <a href="${BASE_PATH }${item.file_url }" target="_blank" style="text-decoration:none;">
                            ${item.file_name}
                        </a>
                    </div>
                    <% } %>
                </section>


                <footer class="art-footer clearfix">
                    <div class="text-left">
                        <%
                        if(taglist != null && taglist.~size > 0) {
                        %>
                        <ul class="q-taglist clearfix">
                            <li title="标签"><span class="q-icon"></span></li>
                            <%
                            for(tagitem in taglist){
                            %>
                            <li class="q-tagitem">
                                <a class="a-tagitem" href="${BASE_PATH }front/tags/${tagitem.tagname}">${tagitem.tagname}</a>
                            </li>
                            <%
                            }
                            %>
                        </ul>
                        <%
                        }
                        %>
                    </div>

                    <div class="text-right">
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>

<% include("/template/sfy/includes/footer.html"){} %>

<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>

<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

