<%
// 首页图片 13
var topPics = temp.rollPicture(269);
%>

<%
var headContent = {
%>
<% include("/template/sfy/includes/header.html"){} %>
<meta property="qc:admins" content="3746002437626416706375"/>
<meta name="baidu-site-verification" content="HoZ9m8VIaf"/>
<script type="text/javascript">
<!--
	$(function(){
		$('.carousel').carousel({
			interval: 2000
		});
		
		// js加载避免优先级问题
		$('.more').css('float','right').css('font-size','12px').css('color','green');
		

	});
//-->




</script>

<%
};
%>

<%
var bodyContent = {
%>
<%  include("/template/sfy/includes/header_menu.html"){} %>

<div class="row">
    <!-- 图片 -->
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body" style="padding: 0px;">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% for(item in topPics){ %>
                        <li data-target="#carousel-example-generic" data-slide-to="${itemLP.index-1}"
                            ${itemLP.index==1?"class=\"active\"":""}></li>
                        <%}%>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% for(item in topPics){ %>
                        <div style="height: 450px;" class="item ${itemLP.index==1?'active':''}">
                            <% if(strutil.isNotEmpty(item.url)) { %>
                            <a href="${item.url}" target="_blank">
                                <% } %>
                                <img src="${flyfox.getImage(item)}" alt="${item.title}" style="width:100%">
                                <% if(strutil.isNotEmpty(item.url)) { %>
                            </a>
                            <% } %>
                            <div class="carousel-caption">
                                <h4></h4>
                                <p>${item.title}</p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">上一页</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">下一页</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="container">

    <!--new1-->
    <% for(var item in tempImage.albmsByParentId(12)){ %>
    <div class="scene">
        <div class="container">
            <div class="title" style="height:50px;">
                <div class="pull-left">
                    <h3 style="margin-top:15px;">${item.name}
                        <small>PHOTOGRAPHY</small>
                    </h3>
                </div>
                <span class="pull-right" style="padding-top:24px;"><a href="#">更多 &gt;&gt;</a></span>
            </div>
            <div class="scene_c">
                <%
                var childA = tempImage.images(1,4,item.id);
                for(var itemC in childA.list){%>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <a href="#" title="${itemC.name}"
                           target="_blank"><img
                                src="${itemC.linkurl}" data-cache="true" width="275" height="184"></a>
                        <h4>${itemC.name}</h4>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
    <% }%>
    <!--Scene-->
    <div class="sale">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">

                    <a href="#" target="_blank"><img src="${BASE_PATH }template/sfy/static/img/ad1.jpg"
                                                                            data-cache="true" width="550" height="280"></a>
                </div>
                <div class="col-sm-6 col-md-6">

                    <a href="#" target="_blank"><img src="${BASE_PATH }template/sfy/static/img/ad2.jpg"
                                                                            data-cache="true" width="550" height="280"></a>
                </div>

            </div>
        </div>
    </div>
    <div class="graphy">
        <div class="graphy">
            <div class="container">
                <div class="title">
                    <div class="pull-left">
                        <h3>客照欣赏
                            <small>PHOTOGRAPHY</small>
                        </h3>
                    </div>
                    <span class="pull-right"><a href="${BASE_PATH }/kpShow.html">更多 &gt;&gt;</a></span>
                </div>
                <div class="graphy_c">
                    <div class="row">
                        <%
                        var childA = tempImage.images(1,8,6);
                        for(var itemC in childA.list){%>
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                                <a href="#" title="${itemC.name}"
                                   target="_blank"><img src="${itemC.linkurl}" data-cache="true"
                                                        width="275" height="184"></a>
                                <h4>${itemC.name}</h4>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include("/template/sfy/includes/footer.html"){} %>

<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>

<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
