<div class="footer">
	<div class="container">
		<div class="foot_t">
			<font color="#FFFFFF">我们一路走来，便是最好的证明，带给您最美好的回忆！</font>
		</div>

		<p style="width:620px;">咨询热线：<font color="#ffcd1e">153-7351-5516</font> (在线时间：每天09:00-23:00)</p>

		<!--<p><small style="font-size:74%">

			<%
			for(item in aboutList){
			%>
			<a href="${item.url}" target="_blank">${item.name}</a>
			<% if(itemLP.index!=aboutList.~size) { %>
			<span>&nbsp;|&nbsp;</span>
			<%
			}
			}
			%>
		</small></p>-->

		<img width="150px" src="${BASE_PATH }/template/sfy/static/img/foot_logo.jpg">

	</div>

	<div class="small" style="margin-top:30px;">&lt;苏菲亚婚纱&gt;拥有最专业的摄影师，全心全意以最优质的服务，为您和家人留住最美好的记忆</div>
	<div>冀ICP备11008686号 </div>
</div>