<%
// 首页图片 13
var topPics = temp.rollPicture(270);
var travels = temp.articlePage(1, 9, 4);
%>

<%
var headContent = {
%>
<% include("/template/sfy/includes/header.html"){} %>
<meta property="qc:admins" content="3746002437626416706375"/>
<script type="text/javascript">
<!--
	$(function(){
		$('.carousel').carousel({
			interval: 2000
		});

		// js加载避免优先级问题
		$('.more').css('float','right').css('font-size','12px').css('color','green');


	});
//-->

</script>
<%
};
%>

<%
var bodyContent = {
%>
<%  include("/template/sfy/includes/header_menu.html"){} %>

<!--轮播图-->
<div class="row">
    <!-- 图片 -->
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body" style="padding: 0px;">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% for(item in topPics){ %>
                        <li data-target="#carousel-example-generic" data-slide-to="${itemLP.index-1}" ${itemLP.index==1?"class=\"active\"":""}></li>
                        <%}%>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% for(item in topPics){ %>
                        <div style="height: 450px;" class="item ${itemLP.index==1?'active':''}">
                            <% if(strutil.isNotEmpty(item.url)) { %>
                            <a href="${item.url}" target="_blank">
                                <% } %>
                                <img src="${flyfox.getImage(item)}" alt="${item.title}" style="width:100%">
                                <% if(strutil.isNotEmpty(item.url)) { %>
                            </a>
                            <% } %>
                            <div class="carousel-caption">
                                <h4></h4>
                                <p>${item.title}</p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">上一页</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">下一页</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container">

<!--客片列表-->
    <div class="graphy_list">
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <% for(var item in tempImage.albmsByParentId(6)){ %>
                    <div class="graphy_list_c">
                        <div class="graphy_list_m">
                            <div class="title">${item.name}</div>
                            <div class="row">
                                <%
                                var childA = tempImage.images(1,4,item.id);
                                 for(var itemC in childA.list){%>
                                <div class="col-sm-3 col-md-3">
                                    <a href="${BASE_PATH }album/image/imgList/${tempImage.randomAlbumId()}${item.id}.html" title="${itemC.name}"
                                       class="thumbnail"><img src="${BASE_PATH }/${itemC.image_url}" data-cache="true"
                                                              width="275" height="184">
                                        <div class="graphy_list_c_t">
                                            <div class="pull-left">${itemC.name}</div>
                                        </div>
                                    </a>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <% }%>

                </div>
            </div>
        </div>
    </div>

</div>
<%  include("/template/sfy/includes/footer.html"){} %>

<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>

<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
